<div>
	
	<!-- image, desk, atc, etc -->
	<section class="row">
	
		<div class='col-xs-12 col-sm-4'>
			<img src="http://www.sportsworldchicago.com/media/img/cubworld/W500-H500-Bffffff/{{product['%attribs']['zoovy:prod_image1']}}" class='img-responsive' />
		</div>
		
		<div class='col-xs-12 col-sm-8'>

			<h1>{{product['%attribs']['zoovy:prod_name']}}</h1>
			<h4>{{product['%attribs']['zoovy:prod_mfg']}}</h4>
			
			<div class='price'>
			{{product['%attribs']['zoovy:base_price']}}
			</div>
			
			Desc: {{product['%attribs']['zoovy:prod_desc']}}
		
		</div>
		
	</section>

</div>
